{% extends "_layouts/main" %}

{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-cphy-primary-xlight">
    <li class="breadcrumb-item"><a href="{{ siteUrl }}"><i class="fal fa-elephant"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Contact</li>
  </ol>
</nav>

<section class="container contact mx-auto my-5">
  <div class="mb-3 d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h2 class="section-heading"><i class="fal fa-phone"></i> Contact</h2>
    </div>
  </div>

  <blockquote class="blockquote-primary shadow-sm mb-5">
    <h5 class="blockquote-heading">Inquire the Phamily?</h5>
    <p class="small mb-0">
      <i class="fal fa-mobile fa-fw"></i> +65 9369 3752<br>
      <i class="fal fa-envelope fa-fw"></i> comphanny@example.com<br>
      <i class="fal fa-map-marker fa-fw"></i> Street #unit-no building, zip code
    </p>
  </blockquote>

  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fal fa-user"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2"><i class="fal fa-envelope"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3"><i class="fal fa-pen"></i></span>
      </div>
      <select class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon3">
        <option value="">Subject</option>
        <option value="career">Career / Jobs</option>
        <option value="work">Work / Projects</option>
        <option value="hangout">Get to know</option>
        <option value="misc">Others</option>
      </select>
    </div>
    <div class="form-group mb-3">
      <textarea class="form-control" placeholder="Message" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Send <i class="fal fa-paper-plane"></i></button>
  </form>
{% endblock %}